<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceFXSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17113/WebServiceFX.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceFXSoap"
                contract="ServiceWebFX.WebServiceFXSoap" name="WebServiceFXSoap" />
        </client>
    </system.serviceModel>
</configuration>